.category-topbar-related-categories__category {
	font-size: var(--font-size-label-l);
	line-height: var(--line-height-label-l);
	letter-spacing: var(--letter-spacing-label-l);
	text-transform: var(--text-transform-label-l);
	font-stretch: var(--font-stretch-label-l);
	font-weight: var(--font-weight-label-l);
}[dir] .category-topbar-related-categories__category {
	padding: var(--spacing-01) 0;
}

.category-topbar-related-categories__list {
	overflow: hidden;
}

[dir=ltr] .category-topbar-related-categories__item:first-child {
	padding-left: var(--zds-layout-lateral-margin);
}

[dir=rtl] .category-topbar-related-categories__item:first-child {
	padding-right: var(--zds-layout-lateral-margin);
}

[dir=ltr] .category-topbar-related-categories__item:last-child {
	padding-right: var(--zds-layout-lateral-margin);
}

[dir=rtl] .category-topbar-related-categories__item:last-child {
	padding-left: var(--zds-layout-lateral-margin);
}

.category-topbar-related-categories__category-link {
	text-decoration: none;
}

.category-topbar {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing-02);
	width: 100%;
}[dir] .category-topbar {
	margin-bottom: var(--spacing-04);
}

.category-topbar__bar {
	display: flex;
	align-items: center;
}

[dir=ltr] .category-topbar__bar {
	margin-left: var(--spacing-03);
}

[dir=rtl] .category-topbar__bar {
	margin-right: var(--spacing-03);
}

.category-topbar__categories-bar--origins .products-category-view__zoom-selector {
	white-space: nowrap;
}[dir=ltr] .category-topbar__categories-bar--origins .products-category-view__zoom-selector {
	padding-right: 0;
}[dir=rtl] .category-topbar__categories-bar--origins .products-category-view__zoom-selector {
	padding-left: 0;
}

.category-topbar--origins {
	row-gap: 0;
}

[dir] .category-topbar--origins {
	margin-top: var(--spacing-03);
}

[dir] .category-topbar__categories-bar--origins {
	margin-top: var(--spacing-03);
}

.category-topbar__categories-bar--origins.category-topbar__nieces {
	--padding-top: var(--spacing-04);
}

[dir] .category-topbar__categories-bar--origins.category-topbar__nieces {

	padding-top: var(--padding-top);
	margin-top: var(--spacing-05);
}

@media screen and (min-width: 48rem) {
	.category-topbar__categories-bar--origins.category-topbar__siblings {
		grid-row: 1;
		grid-column: 2;
	}
	[dir] .category-topbar__categories-bar--origins.category-topbar__siblings {
		margin-top: 0;
	}

	.category-topbar__categories-bar--origins.category-topbar__nieces,
	.category-topbar__categories-bar--origins.category-topbar__grandnieces {
		display: flex;
		grid-column: 2 / -1;
		column-gap: var(--spacing-08);
		justify-content: space-between;
	}

	.category-topbar__categories-bar--origins.category-topbar__nieces {
		--padding-top: var(--spacing-05);
	}

	[dir] .category-topbar__categories-bar--origins.category-topbar__nieces {

		margin-top: var(--spacing-09);
	}

	[dir=ltr] .category-topbar__categories-bar--origins.category-topbar__bar {
		margin-left: auto;
	}

	[dir=rtl] .category-topbar__categories-bar--origins.category-topbar__bar {
		margin-right: auto;
	}
}

.category-sidebar-link {
	display: flex;
	gap: var(--spacing-02);
	align-items: flex-start;
	min-height: 1.25rem;
	font-size: var(--font-size-label-l);
	text-decoration: none;
	line-height: var(--line-height-label-l);
	letter-spacing: var(--letter-spacing-label-l);
	text-transform: var(--text-transform-label-l);
	font-stretch: var(--font-stretch-label-l);
	font-weight: var(--font-weight-label-l);
}

.category-sidebar-link .zds-number-indicator {
	flex-shrink: 0;
}

.category-sidebar-link--selected {
	font-size: var(--font-size-label-l-highlight);
	line-height: var(--line-height-label-l-highlight);
	letter-spacing: var(--letter-spacing-label-l-highlight);
	text-transform: var(--text-transform-label-l-highlight);
	font-stretch: var(--font-stretch-label-l-highlight);
	font-weight: var(--font-weight-label-l-highlight);
}

[dir] .category-sidebar-level-n {
	margin-top: var(--spacing-02);
}

.category-sidebar-level-n__list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
}

[dir=ltr] .category-sidebar-level-n__list {
	margin-left: 2.5rem;
}

[dir=rtl] .category-sidebar-level-n__list {
	margin-right: 2.5rem;
}

.category-sidebar-level-n__item {
	display: flex;
	flex-direction: column;
}

[dir] .category-sidebar-level-n__indicator {
	margin-top: 0.375rem;
}

[dir=ltr] .category-sidebar-level-n__indicator {
	margin-left: 0.625rem;
}

[dir=rtl] .category-sidebar-level-n__indicator {
	margin-right: 0.625rem;
}

[dir] .category-sidebar-level-n__link {
	text-align: start;
}

.category-sidebar-level-1 {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
}

.category-sidebar-level-1__item {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 48rem) {
	[dir] .category-sidebar-level-1 {
		padding-top: 0.3125rem;
	}
}

.layout-catalog-logo-icon {
	display: block;
	fill: inherit;
}

.layout-catalog-logo-icon--custom {
	height: 10rem;
}

[dir] .layout-catalog-logo-icon--custom {
	margin-top: 2.5rem;
}

[dir=ltr] .layout-catalog-logo-icon--custom {
	margin-left: 2rem;
}

[dir=rtl] .layout-catalog-logo-icon--custom {
	margin-right: 2rem;
}

.layout-catalog-logo-icon--athleticz {
	height: 10rem;
}

[dir] .layout-catalog-logo-icon--athleticz {
	margin-top: 2.5rem;
}

[dir=ltr] .layout-catalog-logo-icon--athleticz {
	margin-left: 0.75rem;
}

[dir=rtl] .layout-catalog-logo-icon--athleticz {
	margin-right: 0.75rem;
}

.layout-catalog-logo-icon--origins {
	height: 1.0625rem;
}

[dir] .layout-catalog-logo-icon--origins {
	margin: 2.375rem auto 0;
}

.layout-catalog-logo-icon--trf {
	width: auto;
	height: 5.75rem;
}

[dir] .layout-catalog-logo-icon--trf {
	margin-top: var(--spacing-06);
	margin-bottom: var(--spacing-08);
}

@media screen and (min-width: 85.4375rem) {
	[dir] .layout-catalog-logo-icon--trf {
		margin-bottom: var(--spacing-10);
	}
}

@media screen and (min-width: 120rem) {
	.layout-catalog-logo-icon--trf {
		height: 7.5rem;
	}
	[dir] .layout-catalog-logo-icon--trf {
		margin-top: var(--spacing-05);
		margin-bottom: var(--spacing-11);
	}
}

@media screen and (min-width: 160rem) {
	.layout-catalog-logo-icon--trf {
		height: 10rem;
	}
}

.layout-catalog-logo__link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
}

